@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC')
@function starsShadowBox($n)
  $value: '#{random(2000)}px #{random(2000)}px #FFF' //x,y軸位置
  @for $i from 2 to $n
    $value: '#{$value}, #{random(2000)}px #{random(2000)}px #FFF' // 加回 function/* offset-x | offset-y  | color */
  
  @return unquote($value)

$starsSmall: starsShadowBox(700)
$starsMid: starsShadowBox(300)
$starsBig: starsShadowBox(100)

@mixin size($width, $height)
  width: $width
  height: $height

*
  //border: solid red 1px
  position: relative
  

html
  height: 100%
  background: linear-gradient(360deg, rgb(198,111,134), rgb(129,88,134), rgb(54,47,81),rgb(14,15,35)) //background:linear-gradient(方向, 顏色1 位置, 顏色2 位置)
  overflow: hidden
  font-family: 'Noto Sans TC', sans-serif

#stars1
  +size(1px,1px)
  background: transparent
  box-shadow: $starsSmall
  animation: animationStars 50s linear infinite
  ::after
    content: ""
    position: absolute
    top: 2000px
    width: 1px
    height: 1px
    background: transparent
    box-shadow: $starsSmall

#stars2
  +size(2px,2px)
  background: transparent
  box-shadow: $starsMid
  animation: animationStars 100s linear infinite
  ::after
    content: " "
    position: absolute
    top: 2000px
    width: 2px
    height: 2px
    background: transparent
    box-shadow: $starsMid

#stars3
  +size(3px,3px)
  background: transparent
  box-shadow: $starsBig
  animation: animationStars 150s linear infinite
  ::after
    content: " "
    position: absolute
    top: 2000px
    width: 3px
    height: 3px
    background: transparent
    box-shadow: $starsBig

@keyframes animationStars
  form
    transform: translateY(0px)
  to
    transform: translateY(-2000px)

#title
  font-size: 75px
  color: #D3CA63
  letter-spacing: 10px
  line-height: 90px
  top: 50px
  left: 50px

//starButtons
#StarButtons
  left: 50px
  top: 75px
  color: white
  li
    display: inline-block
    //border: solid 1px #D3CA63
    z-index: 100
    border-radius: 50%
    font-size: 18px
    text-align: center
    //background: linear-gradient(290deg, rgba(205, 196, 99, 1), rgba(35, 35, 35, 0.1))
    background: transparent
    line-height: 75px
    margin: 20px
    +size(75px, 75px)
  li:hover
    cursor: pointer
    //box-shadow: 0 2px 25px rgb(211, 202, 99)
    //background: transparent
    //background: linear-gradient(290deg, rgba(205, 196, 99, 1), rgba(35, 35, 35, 0.1))
  
.starcircle
  +size(10px,5px)
  position: absolute
  top: -8px
  left: 37px
  border-radius: 50px
  background: transparent
  animation: starBtnSpin 1s linear infinite
  transform-origin: 0px 45px //原點 半徑範圍
  background: linear-gradient(#FFF, rgba(255, 255, 255, 0.5))
  box-shadow: 0 2px 20px #FFF

@keyframes starBtnSpin
  to 
    transform: rotate(1turn)

#planet_intro
  z-index: 98
//外星貓
#cat_astronaut
  +size(130px,auto)
  z-index: 99
  position: absolute
  animation: animationCat 2s linear infinite alternate //控制貓咪本體旋轉
  transition-duration: 2s //控制貓咪跟隨滑鼠移動時間
  transition-timing-function: ease-out


@keyframes animationCat
  from
    transform: rotate(45deg)
  to
    transform: rotate(-45deg)

//intro
#planet_intro
  +size(600px,auto)
  font-size: 14px
  line-height: 25px
  color: #fff
  letter-spacing: 3px
  position: relative
  top: 100px
  left: 75px

//planet img
.planet_rotate
  animation: animationPlanet 100s linear infinite, show 1s linear forwards//控制星球本體旋轉
  position: absolute
  left: 10%
  top: 90%

.hide
  opacity: 0
  display: none
  //animation: show 1s linear reverse

@keyframes show
  from
    opacity: 0
    display: none
  to
    opacity: 1
    display: block

@keyframes animationPlanet
  to
    transform: rotate(1turn)

#distanceFuc
  +size(auto, 50px)
  position: relative
  font-size: 14px
  color: #ffffff
  top: -20px
  left: 1000px

#distanceBar
  +size(0px, 20px)
  opacity: 0.5
  display: inline-block
  position: relative
  top: 15px
  left: 5px
  border-radius: 10px
  transition: width 1s

#littlePlanet
  +size(auto, 30px)
  position: relative
  top: 20px
  left: 15px

#sunImg
  +size(30px,auto)
  position: relative
  top: 20px
  animation: animationPlanet 2s linear infinite, show 1s linear forwards

#distance
  position: relative
  top: 30px